body{
  background: #f3f0ec;
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #212124;
}
h2{
  font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1;
    color: #abadb4;
    margin-bottom: 48px;
}
h3{
  font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #797b87;
    margin-bottom: 32px;
}