.footer {
background: #d7c5ae;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 32px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 32px;
}

